

* {
  // border: 1px solid black;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: lighter;
}

html, body {
  background-color: pink;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  height: 10%;
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
display: flex;
flex-direction: column;
}

.main-section {
  height: 100%;
  width: 100%;
  background-color: aqua;

}

.form-section {
  height: 30%;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.travel-form {
  border: solid;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.traveler-stats {
  border: solid;
  height: 100%;
  width: 25%;
}

.trips-section {
  height: 70%;
  width: 100%;
  background-color: pink;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.trips {
  // height: 100px;
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  grid-gap: 20px;
  // padding: 20px;
  width: 100%;
}

.trip-card{
border: solid;
height: 400px;
width: 300px;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.travel-form {
  height: 60%;
  width: 75%;
  color: green;
}

article {
  height: 50%;
  width: 25%;
}
