

* {
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: lighter;
}

html, body {
  background-color: pink;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  height: 20%;
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
display: flex;
flex-direction: column;
// justify-content: center;
}

.main-section {
  height: 100%;
  width: 100%;
  background-color: aqua;

}

.form-section {
  height: 50%;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.travel-form {
  justify-content: space-between;
  width: 100%;
}

.trips-section {
  height: 80%;
  width: 100%;
  background-color: orange;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.travel-form {
  height: 60%;
  width: 75%;
  color: green;
}

article {
  height: 50%;
  width: 25%;
}
