
@import "./_variables.scss";
@import "./_mixins.scss";

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 1800px;
  width: 100%;
}

nav {
  height: 100px;
  width: 100%;
  background-color: $nav-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include box-shadow;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.enter-info {
  margin-top: 50px;
}

.login-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.login-inputs {
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-enter {
  height: 25px;
  width: 80px;
}

.error-message {
  font-size: small;
  color: red;
}

.traveler-stats {
  border-bottom: solid 2.0px #f0f0f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40%;
  width: 90%;
}

.form-section {
  height: 30%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.travel-form {
  padding: 20px;
  border: solid 0.5px #f0f0f5;
  border-radius: 5px;
  @include box-shadow;
  height: 50%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.button-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #a3a3c2;
  border: none;
  border-radius: 6px;
  @include box-shadow;
}

.request-confirmation {
  font-size: small;
  color: red;
}

input, select {
  margin-right: 30px;
  height: 25px;
  width: 130px;

}

label {
  color: black;
  font-size: 10px;
  font-weight: 5;
}

.hidden {
  display: none;
}

// .traveler-stats {
//   border-bottom: solid 2.0px #f0f0f5;
//     display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-around;
//   height: 50%;
//   width: 90%;
// }

.greeting {
  font-size: 27px;
}

.find-next-trip{
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
}

.trips-section {
  height: 1400px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.trip-titles{
  font-size: 20px;
  font-weight: 1000;
  margin-top: 50px;
}

.trips {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: inherit;
  grid-gap: 20px;
  padding: 20px;
  width: 90%;
  border-top: solid 2.0px #f0f0f5;
}

.trip-card{
background-color: white;
border-radius: 10px;
border: solid 0.5px #f0f0f5;
height: 300px;
width: 400px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
@include box-shadow;
background-color: #f0f0f5;
}


.card-year, {
  font-size: 10px;
}

.card-title, {
  font-weight: 10;
}

.travel-form {
  height: 60%;
  width: 75%;
  color: green;
}
img {
  border-radius: 5px;
}

article {
  height: 50%;
  width: 25%;
}
