

* {
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: lighter;
}

html, body {
  background-color: pink;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  height: 10%;
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
display: flex;
flex-direction: column;
}

.main-section {
  height: 100%;
  width: 100%;
  background-color: aqua;

}

.form-section {
  height: 30%;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel-form {
  justify-content: space-between;
  width: 100%;
}

.trips-section {
  height: 80%;
  width: 100%;
  background-color: pink;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.trips {
  height: 25%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  // grid-gap: 20px;
  // padding: 20px;
  width: 100%;

}

.travel-form {
  height: 60%;
  width: 75%;
  color: green;
}

article {
  height: 50%;
  width: 25%;
}
